<h1>Search Forecast for Address</h1>
<%= render partial: "address/flash_messages" %>
<%= turbo_stream.update 'flash_messages', partial: "address/flash_messages"%>
<%= form_with(model: @address, url: { action: :create }, id: 'address_form', class: 'address_form', remote: true) do |form| %>
    <%= form.label :primary_line, :primary_line.to_s.humanize %>
    <%= form.text_field :primary_line, placeholder: "Street Address" %>
    <%= form.label :city, :city.to_s.humanize %>
    <%= form.text_field :city, placeholder: "City" %>
    <%= form.label :state, :state.to_s.humanize %>
    <%= form.text_field :state, placeholder: "State" %>
    <%= form.label :zip_code, :zip_code.to_s.humanize %>
    <%= form.text_field :zip_code, placeholder: "Zip Code" %>
    <%= form.submit "Check Forecast" %>
<% end %>
<%= tag.div id: 'forecast', class: 'forecast-table' do %>
    <%= render partial: "address/forecast" unless @address.current_forecast.nil? %>
<% end %>
<%= turbo_stream.update 'forecast', partial: "address/forecast" unless @address.current_forecast.nil? %>
